.info-box {
    border: 2px solid lightslategrey;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
}

.award {
    display: block;
    margin: 1rem auto;
    width: 350px;
    height: auto;
    border: 2px groove slategrey;
}