.top-news-hot-discussions-box {
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}

/* Replace list items' default bullet with star in Top News section */

li.top-news {
    list-style: "\2B50";
    list-style-position: outside;
    right: 1rem;
}

/* Replace list items' default bullet with fire in Hot Discussions section */

li.hot-discussions {
    list-style: "\1F525";
    list-style-position: outside;
    right: 1rem;
}

.bullet-data {
    margin-left: 1rem;
}

.slidebox-homepage {
    display: inline-block;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slidebox-news {
    border: 2px solid dimgrey;
    border-radius: 1rem;
    padding: 2rem;
}

.slideitem {
    position: absolute;
    height: fit-content;
    width: fit-content;
    visibility: hidden;
    vertical-align: middle;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s ease-in-out;
}

.slideitem.active {
    position: relative;
    height: fit-content;
    width: fit-content;
    visibility: visible;
    vertical-align: middle;
    opacity: 1;
    transition: visibility 1s linear, opacity 1s ease-in-out;
}

.slideitem-news {
    border: 1px solid rgba(20, 25, 50, 0.2);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.slideitem-events {
    border: 2px groove slategrey;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.vr {
    border-left: 0.3rem solid rgba(20, 25, 50, 0.3);
    border-radius: 100rem;
    height: 330px;
    margin-left: 2rem;
    margin-right: 3rem;
}

.arrow-button {
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 8rem;
    color: dimgrey;
}

.arrow-button:hover {
    color: darkslategrey;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
}

.login form {
    border: 3px solid #f1f1f1;
}

.login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.login img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login .container {
    padding: 16px;
}

.login span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}