.top-news-hot-discussions-box {
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}

/* Replace list items' default bullet with star in Top News section */

li.top-news {
    list-style: "\2B50";
    list-style-position: outside;
    right: 1rem;
}

/* Replace list items' default bullet with fire in Hot Discussions section */

li.hot-discussions {
    list-style: "\1F525";
    list-style-position: outside;
    right: 1rem;
}

.bullet-data {
    margin-left: 1rem;
}

.slidebox-homepage {
    display: inline-block;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slidebox-news {
    border: 2px solid dimgrey;
    border-radius: 1rem;
    padding: 2rem;
}

.slideitem {
    position: absolute;
    height: fit-content;
    width: fit-content;
    visibility: hidden;
    vertical-align: middle;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s ease-in-out;
}

.slideitem.active {
    position: relative;
    height: fit-content;
    width: fit-content;
    visibility: visible;
    vertical-align: middle;
    opacity: 1;
    transition: visibility 1s linear, opacity 1s ease-in-out;
}

.slideitem-news {
    border: 1px solid rgba(20, 25, 50, 0.2);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.slideitem-events {
    border: 2px groove slategrey;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.vr {
    border-left: 0.3rem solid rgba(20, 25, 50, 0.3);
    border-radius: 100rem;
    height: 330px;
    margin-left: 2rem;
    margin-right: 3rem;
}

.arrow-button {
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    font-size: 8rem;
    color: dimgrey;
}

.arrow-button:hover {
    color: darkslategrey;
}