.top-section {
  background-color: rgba(38, 76, 114, 0.15);
  border-bottom: 2px outset cadetblue;
}

#data-engineering-daily-logo {
  border: 2px solid black;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  opacity: 1;
  transition: 0.5s;
}

#data-engineering-daily-logo:hover {
  opacity: 0.9;
  background-color: lightblue;
}

.nav-button-div {
  margin: 5rem 0.5rem;
}

.nav-button {
  display: inline-block;
  border-radius: 0.5rem;
  color: white;
  background-color: deepskyblue;
  font-size: 1.5rem;
  text-align: center;
  white-space:nowrap;
  box-shadow: 0 2px 4px rgba(38, 114, 114, 0.3);
  transition: all 0.4s;
}

.nav-button span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.nav-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.3s;
}

.nav-button:hover span {
  padding-right: 2rem;
}

.nav-button:hover span:after {
  opacity: 1;
  right: 0;
}

.current-date-and-time {
  display: block;
  border: 4px wave darkgray;
  border-radius: 10px;
}

.rss-feed-box {
  background-color: rgba(63, 191, 191, 0.3);
  border-bottom: 2px outset cadetblue;
}